
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>92ui.net - Pure CSS animated signin &amp; signup form</title>
    <link href="../Assets/Lib/MyCss/Style.css" rel="stylesheet" />
</head>
<body>
    <!-- partial:index.partial.html -->
    <div>
        <input type="checkbox" class="checkboxButton">
        <div class="mainButton">
            <span class="signInText">Sign in</span>
            <span class="signUpText">Sign up</span>
        </div>

        <div class="formsWrapper">
            <div class="signIn">
                <h1 class="title">Welcome back,</h1>
                <form action="">
                    <div class="input">
                        <input type="text" placeholder="Email">
                        <label for="">Email</label>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Password">
                        <label for="">Password</label>
                    </div>

                    <a href="" class="link">Forgot password?</a>

                    <button class="formButton">Sign in</button>
                </form>

                <!-- signature -->
                <div class="signature-wrapper">
                    <div class="signature-title">
                        Hey there, I'm Nitish, a frontend developer.
                    </div>

                    <a class="signature-link" target="_blank" href="https://nikkk.me/">Portfolio</a>
                </div>
                <!-- signature -->
            </div>

            <div class="signUp">
                <h1 class="title">Time to feel like home,</h1>
                <form action="">
                    <div class="input">
                        <input type="text" placeholder="Name">
                        <label for="">Name</label>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Email">
                        <label for="">Email</label>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Password">
                        <label for="">Password</label>
                    </div>
                    <button class="formButton">Sign up</button>
                </form>

                <!-- signature -->
                <div class="signature-wrapper">
                    <div class="signature-title">
                        Hey there, I'm Nitish, a frontend developer.
                    </div>

                    <a class="signature-link" target="_blank" href="https://nikkk.me/">Portfolio</a>
                </div>
                <!-- signature -->
            </div>
        </div>

        <div class="main"></div>

        <div class="leftBar">
            <div class="content1">
                <h1>One of us ?</h1>
                <p>
                    If you have an account,
                    just sign in.
                </p>
            </div>

            <div class="content2">
                <h1>New Here ?</h1>
                <p>Sign up and discover great<br> amount of new opportunities.</p>
            </div>
        </div>
    </div>
    <!-- partial -->

</body>
</html>
